<input
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
  [formControl]="control"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>
<ng-container
  *ngIf="control.touched && control.dirty && control.touched && control.dirty"
>
  <p *ngIf=" control.errors?.['required']" class="text-red-500">
    Field is required
  </p>
  <p *ngIf=" control.errors?.['minlength']" class="text-red-500">
    The value should be at least
    {{control.errors?.['minlength'].requiredLength}}
  </p>
  <p *ngIf=" control.errors?.['email']" class="text-red-500">
    Please enter a valid email
  </p>
  <p *ngIf=" control.errors?.['min']" class="text-red-500">
    Your age should be 18 or greater
  </p>
  <p *ngIf=" control.errors?.['pattern']" class="text-red-500">
    at least 8 characters must contain at least 1 uppercase letter, 1 lowercase
    letter, and 1 number Can contain special characters
  </p>
</ng-container>
